/**
 * Add your custom styles below
 * 
 * Remember: 
 * - Be organised, use comments and separate your styles into meaningful chunks
 *    for example: General styles, Navigation styles, Hero styles, Footer etc.
 * 
 */
img {
  height: 450px;
  width: 1000px;
}

.articles .article:first-child {
  background-color: var(--light);
  font-weight: 900;
  padding: 2rem;
}